.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom--none {
  margin-bottom: 0rem;
}

.margin-bottom--quarter {
  margin-bottom: 0.25rem;
}

.margin-bottom--half {
  margin-bottom: 0.5rem;
}

.margin-bottom--2 {
  margin-bottom: 2rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-right--none {
  margin-right: 0rem;
}

.margin-right--half {
  margin-right: 0.5rem;
}

.margin-right--2 {
  margin-right: 2rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top--none {
  margin-top: 0rem;
}

.margin-top--half {
  margin-top: 0.5rem;
}

.margin-top--quarter {
  margin-top: 0.25rem;
}

.margin-top--2 {
  margin-top: 2rem;
}

.margin-top--3 {
  margin-top: 3rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-left--none {
  margin-left: 0rem;
}

.margin-left--half {
  margin-left: 0.5rem;
}

.margin-left--2 {
  margin-left: 2rem;
}

.vertical-align--top {
  vertical-align: top;
}
