name: Y3P CI/CD deploy pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    environment: Production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install AWS SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup up AWS SAM CLI credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Build
        run: sam build --use-container
        working-directory: backend
      - name: Deploy
        run: |
          sam deploy \
            --config-file samconfig.toml \
            --config-env prod \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --parameter-overrides \
                StripeSecretKey=${{ secrets.STRIPE_SECRET_KEY }} \
                StripeWebhookSecretKey=${{ secrets.STRIPE_WEBHOOK_SECRET_KEY }}
        working-directory: backend
